/src/RabbitMQAsyncEnumerableAdapter/.vs
/src/RabbitMQAsyncEnumerableAdapter/RabbitMQAsyncEnumerableAdapter/obj
/src/RabbitMQAsyncEnumerableAdapter/RabbitMQAsyncEnumerableAdapter/bin
/src/RabbitMQAsyncEnumerableAdapter/RabbitMQAsyncEnumerableAdapter.Tests/obj
/src/RabbitMQAsyncEnumerableAdapter/RabbitMQAsyncEnumerableAdapter.Tests/bin
